.mytodo{
  margin-left: 40px;
  margin-right: 40px;

}


h2 {
  flex: auto;
  font-size: 35px;
  margin-left: 25px;
  color: #001133;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

  /* .myborde{
    border: 1px solid black;
  } */
  .text-center {
    color: #001133;
    margin-top: 50px;
    margin-left: 55%;
    margin-bottom: -100px;
    padding-top: 80px;
    padding-right: 80px;
    text-align: center;
    font-family: sans-serif;
  }

    .alert-danger {
      border-left: 5px solid red;


}


/* .container-error-mensaje {

  border-left: 5px solid red;

} */



/* /* Clase para el borde verde en campos válidos */


.ng-valid.ng-touched {
  border-left: 5px solid green;
}

/* Clase para el borde rojo en campos inválidos */

/*
.ng-invalid.ng-touched {
  border-left: 5px solid red;
} */

.seleccionado {
  background-color: rgb(255, 115, 0);
}