<section id="features">
  <div class="container">
    <div class="row gx-5 align-items-center">
      <!-- Columna izquierda -->
      <!--<div class="col-lg-6">-->
        <!--<div class="container-fluid">-->          
            <div class="col-md-6 mb-5">
              <div class="text-center">
                <i class="bi-phone icon-feature text-gradient d-block mb-3"></i>
                <h3 class="titulos">Software de gestión de empleados</h3>
                <p class="text-section">
                  Optimiza la gestión de tu equipo con nuestra solución de software de última generación.
                </p>
                <p class="text-section">
                  Desde la contratación hasta la evaluación de desempeño,
                  nuestro software de gestión de empleados cubre todas tus necesidades.
                </p>
                <p class="text-section">
                  Gestión de empleados en tiempo real, seguimiento de métricas
                  individuales y globales de la empresa. Envío de recibos de sueldo
                  digitales. Permite consultar disponibilidad, crear horarios y
                  comunicarte con tu personal.
                </p>  
                <p class="text-section">
                  Conserva los documentos de tus empleados conforme a la ley
                  de protección de datos actual. Máxima seguridad y control sobre el
                  tratamiento de la información.
                </p>
                <img class="img-logo-circular" src="../../../assets/image/KillCodeNC.png" alt="Logo">
              </div>
            </div>
            <!--</div>-->
        <!--</div>->
      </div>
      <!-- Columna derecha -->
      <div class="col-lg-6">
        <div class="text-center">
          <img
          class="img-dashboard"
          src="../../../assets/image/dashboard-mg.png"
          alt="dashboard-img"/>
          <h3 class="titulos_2">Ingresa a la nueva era de Gestión Empresarial</h3>
          <p class="subtitulo_section">Solicitalo Ahora</p>
          <a class="btn-contactanos-section" href="#contact">Contactanos</a>
        </div>
      </div>
    </div>
  </div>
</section>


<!--<section class="bg-light">
  <div class="container px-5">
    <div
      class="row gx-5 align-items-center justify-content-center justify-content-lg-between"
    >
      <div class="col-12 col-lg-5">
        <h2 class="display-4 lh-1 mb-4">
          Ingresa a la nueva era de Gestion Empresarial
        </h2>
        <p class="lead fw-normal text-muted mb-5 mb-lg-0">
          Gestion de empleados en tiempo real, seguimiento de metricas
          individuales y globales de la empresa. Envio de recibos de sueldos
          digitales. Permite consultar disponibilidad, crear horarios y
          comunicarte con tu personal.
        </p>
      </div>
      <div class="col-sm-8 col-md-6">
        <div class="px-5 px-sm-0">
          <img
            class="img-fluid rounded"
            src="../../../assets/image/dashboard-mg.png"
            alt="dashboard-img"
          />
        </div>
      </div>
    </div>
  </div>
</section>
-->
<section class="cta">
  <div class="container">
    <div class="row">
      <!-- Columna izquierda -->
      <div class="col-md-6">
        <div class="text-center">
          <img src="../../../assets/image/orderTablet.png" alt="Imagen" class="img-fluid">
        </div>
      </div>
      <!-- Columna derecha -->
      <div class="col-md-6">
        <div class="text-center">
          <h3 class="titulos_3">Aplicaciones para Sistema Operativo Android</h3>
          <p class="text-section-2">Con nuestras aplicaciones Android, no sólo obtendrás funcionalidad, sino también un 
            diseño atractivo y una experiencia de usuario intuitiva que mantendrá a tus clientes regresando por más.
          </p>
          <p class="text-section-2">
            Desde aplicaciones de comercio electrónico hasta herramientas de productividad, nuestras soluciones de desarrollo de Android están diseñadas para satisfacer las necesidades únicas de tu empresa y tus clientes.
          </p>
          <p class="text-section-2">            
            Desde el diseño de la interfaz de usuario hasta la optimización del rendimiento, nos aseguramos de que cada detalle de tu aplicación Android esté cuidadosamente elaborado para ofrecer una experiencia excepcional.
          </p>
          <p class="text-section-2">
            Todavía no tenés tu app? Ponete en contacto con nosotros y comencemos a diseñarla juntos!
          </p>
          <a class="btn-contactanos-section" href="#contact">Contactanos</a>
          
        </div>
      </div>
    </div>
  </div>
</section>
<!-- App badge section-->
