

<div class="conteiner-fluid">
    <div class="text-center">
        <h4>Conoce nuestras propuestas:</h4>
    </div>
    <b></b>
</div>

<!-- tarjetas -->
<div class="container text">
    <div class="row">
     <div class="d-flex justify-content-sm-center">

      <div class="col"> 
        <div class="card" style="width: 20rem;">
            <img src="/assets/image/tarjeta_personal.jpg" class="card-img-top" alt="Persona usando tablet">
            <div class="card-body">
              <h5 class="card-title">Personal</h5>
              <ul class="card-text-start">
              <li>10 legajos</li>
                    <li>1 usuario</li>
                    <li>Libro de sueldo digital</li>
                    <li>Conceptos personalizables</li>
                    <li>Automatizacion de novedades</li>
                    <li>Recibo digital</li>
                    <li>Formularios AFIP</li>

              </ul>
              <a href="#" class="btn btn-primary">Licencia mensual</a>
              <a href="#" class="btn btn-secondary">Licencia anual con descuento!</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 20rem;">
            <img src="/assets/image/tarjeta_pyme1.jpg" class="card-img-top" alt="Trabajando en oficina">
            <div class="card-body">
              <h5 class="card-title">PyME</h5>
              <ul class="card-text-start">
                <li>50 legajos</li>
                <li>2 usuarios</li>
                <li>Libro de sueldo digital</li>
                <li>Conceptos personalizables</li>
                <li>Automatizacion de novedades</li>
                <li>Recibo digital</li>
                <li>Formularios AFIP</li>

              </ul>
          <a href="#" class="btn btn-primary">Licencia mensual</a>
          <a href="#" class="btn btn-secondary">Licencia anual con descuento!</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 20rem;">
            <img src="/assets/image/tarjeta_premium_pyme1.jpg" class="card-img-top" alt="Reunion directorio">
            <div class="card-body">
              <h5 class="card-title">Premium PyME</h5>
              <ul class="card-text-start">
                <li>100 legajos</li>
                <li>4 usuarios</li>
                <li>Libro de sueldo digital</li>
                <li>Conceptos personalizables</li>
                <li>Automatizacion de novedades</li>
                <li>Recibo digital</li>
                <li>Formularios AFIP</li>

              </ul>
          <a href="#" class="btn btn-primary">Licencia mensual</a>
          <a href="#" class="btn btn-secondary">Licencia anual con descuento!</a>
            </div>
          </div>
      </div>
     </div>
    </div>
  </div>