<div class="masthead container-fluid">
  <div class="row">
    <nav
      id="sidebarMenu"
      class="col-md-3 col-lg-2 d-md-block bg-body-tertiary sidebar collapse"
    >
      <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="/registro-empleados" routerLinkActive="active-link">
              <span data-feather="shopping-cart" class="align-text-bottom"></span>
              Empleados
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/registro-empresa">
              <span data-feather="file" class="align-text-bottom"></span>Registro
              empresa
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/generador de recibo de sueldo">

            <a class="nav-link" routerLink="/generador-recibo-de-sueldo" routerLinkActive="active-link">

              <span
                data-feather="shopping-cart"
                class="align-text-bottom"
              ></span>
              Recibos de Sueldos
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
      >
        <h1 class="h2">Dashboard</h1>
      </div>

      <div class="container-fluid">
        <app-empleados-api></app-empleados-api>
      </div>
    </main>
  </div>
</div>


