<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-9 col-lg-10 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h1 class="card-title text-center mb-5 fw-bold">Login</h1>

            <form [formGroup]="userLogin" (ngSubmit)="submitData()" class="needs-validation" novalidate>
              <div class="form-group form-floating mb-3 was-validated" >
                <input
                  type="email"
                  class="form-control"
                  id="floatingInput{{dynamicIdSuffix}}"
                  placeholder="name@example.com"
                  formControlName="email"
                  [ngClass]="{'is-invalid': userLogin.controls.email && userLogin.controls.email.invalid && userLogin.controls.email.touched}"
                  required
                />
                <label for="floatingInput" class="form-label">Email address</label>

              <span *ngIf="userLogin.controls.email && userLogin.controls.email.invalid && userLogin.controls.email.touched" class="invalid-feedback mb-2">Usuario incorrecto</span>

              </div>



              <div class="form-group form-floating mb-3 was-validated">
                <input
                  type="password"
                  class="form-control"
                  id="floatingPassword"
                  placeholder="Password"
                  formControlName="userpassword"
                  minlength="8"
                  [ngClass]="{'is-invalid': userLogin.controls.userpassword && userLogin.controls.userpassword.invalid && userLogin.controls.userpassword.touched}"
                  required
                />
                <label for="floatingPassword" class="form-label was-validated">Password</label>

              <span *ngIf="userLogin.controls.userpassword && userLogin.controls.userpassword.invalid && userLogin.controls.userpassword.touched" class="invalid-feedback">Contraseña incorrecta</span>

              </div>


              <div class="form-check mb-3">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="rememberPasswordCheck"
                  required
                />
                <label class="form-check-label" for="rememberPasswordCheck">
                  Remember password
                </label>
              </div>
              <div class="d-grid">
                <button
                  class="btn btn-primary btn-login text-uppercase fw-bold"
                  type="submit"
                  [disabled]="userLogin.invalid"
                >
                  Login
                </button>
              </div>
              <div *ngIf="errorMessage" class="mt-4 alert alert-danger">{{ errorMessage }}</div>
              <hr class="my-4" />
              <div class="d-flex flex-column">
                <a routerLink="">¿Olvidó su contraseña?</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
