*{ 
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

body{
  background: white;
  margin: 0;
}

.container-slider{
width: 90%;
max-width: 900px;
margin: auto;
overflow: hidden;
box-shadow: 0 0 0 10px rgb(102, 101, 101),
            0 15px 50px;
position: relative;            
}
.slider{
display: flex;
width: 400%;
height: 550px;
margin-left: -100%;
}
.slider__section{
width: 100%;
}
.slider__img{
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}
.slider__btn{
position: absolute;
width: 40px;
height: 40px;
background: rgba(34, 33, 33, 0.7);
top: 50%;
transform: translateY(-50%);
font-size: 30px;
font-weight: bold;
font-family: monospace;
text-align: center;
border-radius: 50%;
cursor: pointer;
}
.slider__btn:hover{
background: #fff;
}
.slider__btn--left{
left: 10px;
}
.slider__btn--right{
right: 10px;
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em; }
h3{font-size: 2em;}
p{font-size:1.25em;}
ul{list-style: none;}

button{
  font-size: 1.5em;
  font-weight: bold;
  padding: 6px 20px;
  border-radius: 4%;
  border: 1px solid rgba(0,0,0,.5);
  box-shadow: 2px 2px 10px rgba(0,0,0,.5);
  color: white;
  background: #01579B;
}

button:hover{
  background-color: rgb(110, 81, 243);
}

.container{
  max-width: 1400px;
  margin: auto;
}

.color-killcode{color:rgba(0,10,0,.6)}

/* header{
  background-color: #001133;
}

header .logo{
  margin-left: -120px;
  
}

header img{
  margin-top: 18px;
  width: 160px;
}

header .container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
ac
header nav{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 25px;
}

header a{
  padding: 4px 12px;
  text-decoration: none;
  font-weight: bold;
  color: #BEBDBD;
}

header a:hover{
  background-color: rgb(110, 81, 243);
} */
/*************** Custom Properties **************/
:root {
  --first-color: #002266;
  --second-color: #001133;
  --third-color: #003299;
  --four-color: #0044CC;
  --five-color: #0055FF;
  --six-color: #BEBDBD;
  --seven-color: #053263;
  --background-color: #D3D2D2;
  --text-color: #000;
  --white-color: #fff;
  --black-color: #000;
  --font: Arial, Helvetica, sans-serif;
  --max-width: 100%;
  --header-height: 4rem;
}

.menu-btn {
  outline: thin solid var(--third-color);
  border: 0;
  cursor: pointer;
  background-color: var(--five-color);
}

.menu-btn svg {
  fill: var(--first-color);
}

.menu {
  position: fixed;
  height: calc(100% - 15.8%);
  left: 0;
  top: var(--header-height);
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--seven-color);
  opacity: 0;
  pointer-events: none;
  transition: opacity .5s ease;
}

.menu a {
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--six-color);
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu a:hover {
  color: var(--white-color);
  background-color: var(--five-color);
}


#hero{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  color: white;
  background-image: linear-gradient(
      0deg,
      rgba(235, 235, 235, 0.5),
      rgba(95, 95, 95, 0.5)
  )

}

#hero h1{
  color: white;
}



#somos-KillCode .container{
  text-align: center;
  padding: 40px 12px;
}

#caracteristicas .container{
  text-align: center;
}

#caracteristicas li{
  margin: 12px 0px;
  font-weight: bold;
}

.footer {
  width: 100%;
  height: 150px;
  background-color: #001133;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-content {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-section {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-text {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0;
}

/*@media (min-width: 720px){

  /* header{
      position: fixed;
      width: 100%;
  }

  header .container{
      flex-direction: row;
      justify-content: space-between;
  }

  header nav{
      flex-direction: row;
      padding-bottom: 0;
      padding-right: 20px;
  }
}
   */
     /************ Main Section ***************/

.main-section {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
      align-items: center; */
}

@media screen and (min-width:769px) {
  .menu-btn {
    display: none;
  }

  .menu {
    position: static;
    width: auto;
    flex-direction: row;
    background-color: var(--second-color);
    opacity: 1;
    pointer-events: auto;
  }

  .menu a {
    padding: 0 1rem;
  }

  .menu a:hover {
    background-color: transparent;
  }

  .menu a:last-child {
    padding-right: 0;
  }
}
  /**************** Navbar Responsive ****************/
@media screen and (max-width: 1024px) {
  .header {
    position: sticky;
    top: 0;
    padding: .5rem;

  }
}

.header {
  position: inherit;
  padding: 10px;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: calc(var(--header-height)-0.5rem);
  background-color: var(--second-color);
}

.header>.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: var(--white-color);
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
}

.icon {
  width: 60%;
}

.alarm {
  width: 18px;
  margin-bottom: 3px;
}


  #somos-KillCode .container{
      display: flex;
      justify-content: space-evenly;
  }

  #somos-KillCode .texto{
      text-align:center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 30px;
  }

  #somos-KillCode h2{
      margin-top: 0px;
  }

  #caracteristicas .container{
      text-align: center;
  }

  #caracteristicas ul{
      text-align: center;
  }
