*{ 
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background: white;
  margin: 0;
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em; }
h3{font-size: 2em;}
p{margin-top: 15%;
font-size:1.25em;}
ul{list-style: none;}

button{
  font-size: 1.5em;
  font-weight: bold;
  padding: 6px 20px ;
  border-radius: 4%;
  border: 2px solid rgba(0,0,0,.5);
  box-shadow: 6px 2px 10px rgba(0,0,0,.5);
  color: white;
  background: #01579B;
}

button:hover{
  background-color: rgb(110, 81, 243);
}
.opcion button{
  margin:auto;
  display: block;
  font-size: 26px;
  line-height: 25px;
}

.container{
  max-width: 1400px;
  margin: auto;
}

.color-killcode{color:rgba(0,10,0,.6)}

/*************** Custom Properties **************/
:root {
  --first-color: #002266;
  --second-color: #001133;
  --third-color: #003299;
  --four-color: #0044CC;
  --five-color: #0055FF;
  --six-color: #BEBDBD;
  --seven-color: #053263;
  --background-color: #D3D2D2;
  --text-color: #000;
  --white-color: #fff;
  --black-color: #000;
  --font: Arial, Helvetica, sans-serif;
  --max-width: 100%;
  --header-height: 4rem;
}

/* header{
  background-color: #001133;
}

/* header{
  background-color: #001133;
}
header .logo{
  margin-left: -120px;
}
header img{
  margin-top: 18px;
  width: 160px;
}
ac
header .container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
header nav{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 25px;
}
header a{
  padding: 4px 12px;
  text-decoration: none;
  font-weight: bold;
  color: #BEBDBD;
}
header a:hover{
  background-color: rgb(110, 81, 243);
}
*/
.menu-btn {
  outline: thin solid var(--third-color);
  border: 0;
  cursor: pointer;
  background-color: var(--five-color);
}

.menu-btn svg {
  fill: var(--first-color);
}

.menu {
  position: fixed;
  height: calc(100% - 15.8%);
  left: 0;
  top: var(--header-height);
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--seven-color);
  opacity: 0;
  pointer-events: none;
  transition: opacity .5s ease;
}

.menu a {
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--six-color);
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu a:hover {
  color: var(--white-color);
  background-color: var(--five-color);
}



/************ Navbar ************/
.header {
  position: inherit;
  padding: 10px;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: calc(var(--header-height)-0.5rem);
  background-color: var(--second-color);
}

.header>.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: var(--white-color);
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
}

.icon {
  width: 60%;
}

.alarm {
  width: 18px;
  margin-bottom: 3px;
}


#nuestrosPresupuestos{
  text-align: center;
  padding-top: 40px;
}

#nuestrosPresupuestos h2{
  margin-top: 0;
}
#nuestrosPresupuestos .container{
  text-align: center;
}

#opcionesPresupuestos .container{
  text-align: center; 
  padding: 50px 15px;
}

#opcionesPresupuestos h3{
  margin-top: 0;
  color: white;
}

#opcionesPresupuestos p{
  margin-top: 50px;
  display:block;
}

#opcionesPresupuestos .opcion{
  background-position: center center;
  background-size: cover;
  padding: 50px;
  margin: 30px;
  border-radius: 5%;
}


#opcionesPresupuestos .opcion:first-child{
  background-image: linear-gradient(
      0deg,
      rgba(0,0,0,.5),
      rgba(0,0,0,.5)
  )
  ,url(../assets/microempresas.jpg);
}

#opcionesPresupuestos .opcion:nth-child(2){
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0,0,0,.5)
  )
  ,url(../assets/pequeaempresa.png);
}

#opcionesPresupuestos .opcion:nth-child(3){
  background-image: linear-gradient(
      0deg,
      rgba(0,0,0,.5),
      rgba(0,0,0,.5)
  )
  ,url(../assets/medianaempresa.png);
}

#opcionesPresupuestos .opcion:nth-child(4){
  background-image: linear-gradient(
      0deg,
      rgba(0,0,0,.5),
      rgba(0,0,0,.5)
  )
  ,url(../assets/grandesempresas.jpg);
}

.footer {
  width: 100%;
  height: 150px;
  background-color: #001133;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-content {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-section {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-text {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0;
}


@media (min-width: 720px){

  header{
      position: fixed;
      width: 100%;
  }

  header .container{
      flex-direction: row;
      justify-content: space-between;
  }

  header nav{
      flex-direction: row;
      padding-bottom: 0;
      padding-right: 20px;
  }
#opcionesPresupuestos .container{
  display: flex;
  justify-content: center;
}

#opcionesPresupuestos p{
  display: block;
  margin-bottom: 30px;
}

#opcionesPresupuestos h3{
  margin-top: 0;
}

#opcionesPresupuestos .opcion{
  padding: 50px;
  background-size: 100% 150px;
  background-repeat: no-repeat;
  background-position-y: 0;
  background-color: rgba(50,50,50,.4);
}
#opcionesPresupuestos .opcion:first-child{
  background-image: linear-gradient(
      0deg,
      rgba(0,0,0,.5),
      rgba(0,0,0,.5)
  )
  ,url(../assets/microempresas.jpg);
}

#opcionesPresupuestos .opcion:nth-child(2){
  background-image: linear-gradient(
      0deg,
      rgba(0,0,0,.5),
      rgba(0,0,0,.5)
  )
  ,url(../assets/pequeaempresa.png);
}

#opcionesPresupuestos .opcion:nth-child(3){
  background-image: linear-gradient(
      0deg,
      rgba(0,0,0,.5),
      rgba(0,0,0,.5)
  )
  ,url(../assets/medianaempresa.png);
}

#opcionesPresupuestos .opcion:nth-child(4){
  background-image: linear-gradient(
      0deg,
      rgba(0,0,0,.5),
      rgba(0,0,0,.5)
  )
  ,url(../assets/grandesempresas.jpg);
}

@media (min-width: 1200px) {
  #opcionesPresupuestos{
      background-position-x: calc(100vw - 800px);
  }
}

/**************** Navbar Responsive ****************/
@media screen and (max-width: 1024px) {
  .header {
    position: sticky;
    top: 0;
    padding: .5rem;

  }

}
}
/**************** Menu Responsive ****************/
@media screen and (min-width:769px) {
  .menu-btn {
    display: none;
  }

  .menu {
    position: static;
    width: auto;
    flex-direction: row;
    background-color: var(--second-color);
    opacity: 1;
    pointer-events: auto;
  }

  .menu a {
    padding: 0 1rem;
  }

  .menu a:hover {
    background-color: transparent;
  }

  .menu a:last-child {
    padding-right: 0;
  }
}
 /**************** Navbar Responsive ****************/
@media screen and (max-width: 1024px) {
  .header {
    position: sticky;
    top: 0;
    padding: .5rem;

  }
}