/*
Sections:
- Custom Properties
- General
- Menu
    - Menu Responsive
- Navbar
    - Navbar responsive
- Main Section
    - Headings
    - Buttons
    - Phones
    - Emails
    - Addresses
    - Forms
    - Cards
    - Status Claim Cards
        - Main Section Responsive
- Footer
*/



/*************** Custom Properties **************/
:root {
  --first-color: #002266;
  --second-color: #001133;
  --third-color: #003299;
  --four-color: #0044CC;
  --five-color: #0055FF;
  --six-color: #BEBDBD;
  --seven-color: #053263;
  --background-color: #D3D2D2;
  --text-color: #000;
  --white-color: #fff;
  --black-color: #000;
  --font: Arial, Helvetica, sans-serif;
  --max-width: 100%;
  --header-height: 4rem;
}

/**************General*****************/

html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
}

.none {
  display: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width) !important;
}

label {
  font-size: 17px;
}

.title {
  font-weight: lighter;
  margin: 0;
  margin-top: 20px;
}

/* *************** Headings *************** */

h4.h4 {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

/**************** Menu *****************/

.menu-btn {
  outline: thin solid var(--third-color);
  border: 0;
  cursor: pointer;
  background-color: var(--five-color);
}

.menu-btn svg {
  fill: var(--first-color);
}

.menu {
  position: fixed;
  height: calc(100% - 15.8%);
  left: 0;
  top: var(--header-height);
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--seven-color);
  opacity: 0;
  pointer-events: none;
  transition: opacity .5s ease;
}

.menu a {
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--six-color);
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu a:hover {
  color: var(--white-color);
  background-color: var(--five-color);
}

/**************** Menu Responsive ****************/
@media screen and (min-width:769px) {
  .menu-btn {
    display: none;
  }

  .menu {
    position: static;
    width: auto;
    flex-direction: row;
    background-color: var(--second-color);
    opacity: 1;
    pointer-events: auto;
  }

  .menu a {
    padding: 0 1rem;
  }

  .menu a:hover {
    background-color: transparent;
  }

  .menu a:last-child {
    padding-right: 0;
  }
}

/************ Navbar ************/
.header {
  position: inherit;
  padding: 10px;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: calc(var(--header-height)-0.5rem);
  background-color: var(--second-color);
}

.header>.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: var(--white-color);
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
}

.icon {
  width: 60%;
}

.alarm {
  width: 18px;
  margin-bottom: 3px;
}

/**************** Navbar Responsive ****************/
@media screen and (max-width: 1024px) {
  .header {
    position: sticky;
    top: 0;
    padding: .5rem;

  }
}

/************ Main Section ***************/

.main-section {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
    align-items: center; */
}

/**************** Buttons ****************/
button.btn {
  width: 150px;
}

button.btn.confirm-btn {
  width: 100px;
}

#new-phone-btn,
#new-email-btn,
#new-address-btn {
  margin-top: 20px;
}

/**************** Phones ****************/

.new-phone-form {
  margin-bottom: 10px;
  font-size: 13px;
  display: grid;
}

.phone-type {
  display: flex;
  margin: 10px 10px 10px 0;
}

.phone-number {
  display: flex;
  margin-right: 10px;
  margin-bottom: 10px;
}

.form-control {
  width: 150px !important;
  font-size: 11px !important;
}

/**************** E-mail ****************/

.new-email-form {
  margin-bottom: 10px;
  font-size: 13px;
  display: grid;
}

.email {
  margin: 10px 10px 10px 0;
}

/**************** Address ****************/

.new-address-form {
  margin-bottom: 10px;
  font-size: 13px;
  display: grid;
}

/**************** Forms ****************/

.options {
  font-size: 11px !important;
}

/**************** Cards ****************/

.card-editable-personal-data {
  width: 100%;
  display: block;
  border-radius: 1px;
  box-shadow: rgb(18 18 18 / 20%) 0px 0px 3px 1px;
  background-color: rgb(255, 255, 255);
}

.content {
  padding: 16px 24px 11px;
}

.editable-data-row {
  width: auto;
  margin-bottom: 9px;
  display: flex;
  flex-direction: column;
}

.divider {
  width: auto;
  height: 1px;
  background-color: rgb(211, 211, 211);
  margin-top: 11px;
}

.description-container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.description-container .description {
  flex: 1 1 0%;
}

.type {
  font-weight: 600;
}

.role.card {
  width: 360px;
  align-self: center;
  margin-bottom: 20px;
}

.claim-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  width: fit-content;
}

.claim.card {
  width: 300px !important;
  margin-bottom: 5px;
}

/**************** Status Claim Cards ****************/

.request-status {
  display: flex;
  flex: content;
}

.status {
  font-weight: 700;
}

.active {
  color: green;
}

.rejected {
  color: red;
}

.finished {
  color: blue;
}

.pending {
  color: orange;
}

/**************** Main Section Responsive ****************/

@media screen and (max-width:424px) {
  .main-section {
    width: 100%;
  }

  .card-editable-personal-data {
    width: 270px;
  }

  .role {
    width: 100% !important;
  }

  .claim-cards {
    display: block;
    margin: 5px auto;
  }

  .claim.card {
    width: 100% !important;
  }
}

@media (min-width: 425px) and (max-width:768px) {
  .main-section {
    width: 100%;
  }

  .claim-cards {
    display: block;
    margin: 5px auto;
  }
}

@media (min-width:769px) and (max-width:1024px) {
  .card-editable-personal-data {
    width: 100%;
  }

  .claim.card {
    width: 250px !important;
  }
}

@media screen and (min-width:1024px) {
  .card-editable-personal-data {
    width: 100%;
  }
}

@media screen and (min-width:1280px) {
  .card-editable-personal-data {
    width: 728px;
    align-self: center;
  }
}

@media screen and (min-width:1620px) {
  .claim-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

/************ Footer ************/

.footer {
  width: 100%;
  height: 150px;
  background-color: var(--second-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-content {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-section {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-text {
  color: var(--white-color);
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0;
}