<nav
  class="navbar navbar-expand-sm navbar-light fixed-top shadow-sm"
  id="mainNav"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      ><img src="\assets\image\KillCodeNC.png" alt="" class="logo"></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      Menu
      <i class="bi-list"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
        <li class="nav-item">
          <a
            class="nav-link me-lg-3"
            routerLink="/"
            routerLinkActive="active-link"
            >Inicio</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link me-lg-3"
            routerLink="/servicios"
            routerLinkActive="active-link"
            >Servicios</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link me-lg-3"
            routerLink="/contact"
            routerLinkActive="active-link"
            >Contacto</a
          >
        </li>
        <li class="nav-item">
          <a *ngIf="getIsAuthenticated()"
            class="nav-link me-lg-3"
            routerLink="/dashboard"
            routerLinkActive="active-link"
            >Dashboard</a
          >
        </li>
      </ul>
      <button *ngIf="!getIsAuthenticated()" (click)="openLoginModal()" type="button" class="btn orange">
        <span class="d-flex align-items-center">
          <!-- <i class="bi-chat-text-fill me-2"></i> -->
          <span class="small">Iniciar Sesión</span>
        </span>
      </button>

      <div class="navbar-nav ml-auto" *ngIf="getIsAuthenticated()">
        <span class="navbar-text text-primary mr-3">Bienvenido, {{ authService.getLoggedInUserEmail() }}</span>
        <button class="btn btn-primary mx-2" (click)="logout()">Cerrar sesión</button>
      </div>

      <button *ngIf="!getIsAuthenticated()" (click)="openRegisterModal()" type="button" class="btn orange mx-2">
        <span class="d-flex align-items-center">
          <!-- <i class="bi-chat-text-fill me-2"></i> -->
          <span class="small">Registro</span>
        </span>
      </button>
    </div>
  </div>
</nav>

