<section id="contact">
  <div class="container px-5">
    <form class="col-sm-9 col-md-9 col-lg-10 mx-auto">
      <h3 class="mb-3">Contactanos</h3>
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="floatingContact"
          placeholder="name@example.com"
        />
        <label for="floatingContact">Nombre</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
        />
        <label for="floatingInput">Ingrese su Email</label>
      </div>
      <div class="form-floating mb-3">
        <textarea
          class="form-control"
          placeholder="Leave a comment here"
          id="floatingTextarea2"
        ></textarea>
        <label for="floatingTextarea2">Comments</label>
      </div>

      <div class="d-grid">
        <button
          class="btn btn-primary btn-login text-uppercase fw-bold"
          type="submit"
        >
          Enviar
        </button>
      </div>
      <hr class="my-4" />
    </form>
  </div>
</section>
