<div class="conteiner-fluid masthead">
  <div class="text-center">
      <h1>Conoce nuestras propuestas</h1>
      <h3>Todas nuestras licencias son anuales</h3>
  </div>
</div>

<!-- tarjetas -->
<div class="container text mb-4">
  <div class="row">
    <div class="d-flex justify-content-sm-center">
      <div class="col">
        <div class="card">
          <img
            src="/assets/image/tarjeta_personal.jpg"
            class="card-img-top"
            alt="Persona usando tablet"
          />
          <div class="card-body">
            <h5 class="card-title text-center h3">Personal</h5>
            <ul class="card-text-start">
              <li>10 legajos</li>
              <li>1 usuario</li>
              <li>Libro de sueldo digital</li>
              <li>Conceptos personalizables</li>
              <li>Automatizacion de novedades</li>
              <li>Recibo digital</li>
              <li>Formularios AFIP</li>
            </ul>
            <button (click)="agregarAlCarrito(Personal)"
            type="button"
            [class]="cambioDeBoton(Personal).class">{{ cambioDeBoton(Personal).text }}</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            src="/assets/image/tarjeta_pyme1.jpg"
            class="card-img-top"
            alt="Trabajando en oficina"
          />
          <div class="card-body">
            <h5 class="card-title text-center h3">PyME</h5>
            <ul class="card-text-start">
              <li>50 legajos</li>
              <li>2 usuarios</li>
              <li>Libro de sueldo digital</li>
              <li>Conceptos personalizables</li>
              <li>Automatizacion de novedades</li>
              <li>Recibo digital</li>
              <li>Formularios AFIP</li>
            </ul>
            <button (click)="agregarAlCarrito(PyME)"
            type="button"
            [class]="cambioDeBoton(PyME).class">{{ cambioDeBoton(PyME).text }}</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            src="/assets/image/tarjeta_premium_pyme1.jpg"
            class="card-img-top"
            alt="Reunion directorio"
          />
          <div class="card-body">
            <h5 class="card-title text-center h3">Premium PyME</h5>
            <ul class="card-text-start">
              <li>100 legajos</li>
              <li>4 usuarios</li>
              <li>Libro de sueldo digital</li>
              <li>Conceptos personalizables</li>
              <li>Automatizacion de novedades</li>
              <li>Recibo digital</li>
              <li>Formularios AFIP</li>
            </ul>
            <button (click)="agregarAlCarrito(PremiumPyME)"
            type="button"
            [class]="cambioDeBoton(PremiumPyME).class">{{ cambioDeBoton(PremiumPyME).text }}</button>
          </div>
        </div>
      </div>
      <div class="d-grid gap-2 d-md-block">
        <button
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#serviceModal"
          class="btn btn-success btn-lg">Carrito de compras
        </button>
      </div>
    </div>
  </div>
</div>


<div
  class="modal fade modal-xl"
  id="serviceModal"
  tabindex="-1"
  aria-labelledby="serviceModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <app-add-to-cart></app-add-to-cart>
    </div>
  </div>
</div>
