<div class="conteiner-fluid masthead">
  <div class="text-left d-flex justify-content-between align-items-center">
    <h1 class="mx-3">Conoce nuestras propuestas para<br>Software de empleados</h1>
    <div>
      <button *ngIf="isLoggedIn"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#serviceModal"
        class="btn btn-success btn-lg">
        Carrito de compras
      </button>
  
      <button *ngIf="isLoggedIn" 
        type="button" 
        class="btn btn-info btn-lg mx-2" 
        data-bs-toggle="modal" 
        data-bs-target="#tokenModal">
        ¿Tienes código de producto?
      </button>
    </div>
  </div>  

<!-- tarjetas -->
<div class="container text mb-4">
  <div class="row">
    <div class="d-flex justify-content-sm-center">
      <div class="col">
        <div class="card">
          <img
            src="/assets/image/tarjeta_personal.jpg"
            class="card-img-top"
            alt="Persona usando tablet"
          />
          <div class="card-body">
            <h5 class="card-title text-center h3">{{ servicioPersonal.nombreServicio }}</h5>
            <ul class="card-text-start">
              <li>{{ servicioPersonal.detalle }}</li>
              <li>1 usuario</li>
              <li>Libro de sueldo digital</li>
              <li>Conceptos personalizables</li>
              <li>Automatizacion de novedades</li>
              <li>Recibo digital</li>
              <li>Formularios AFIP</li>
            </ul>
            <button  (click)="agregarAlCarrito(servicioPersonal)"
            type="button" *ngIf="isLoggedIn"
            [class]="cambioDeBoton(servicioPersonal).class">{{ cambioDeBoton(servicioPersonal).text }}</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            src="/assets/image/tarjeta_pyme1.jpg"
            class="card-img-top"
            alt="Trabajando en oficina"
          />
          <div class="card-body">
            <h5 class="card-title text-center h3">{{ servicioPyME.nombreServicio }}</h5>
            <ul class="card-text-start">
              <li>{{ servicioPyME.detalle }}</li>
              <li>2 usuarios</li>
              <li>Libro de sueldo digital</li>
              <li>Conceptos personalizables</li>
              <li>Automatizacion de novedades</li>
              <li>Recibo digital</li>
              <li>Formularios AFIP</li>
              <!--<li>Formularios </li>-->
            </ul>
            <button  (click)="agregarAlCarrito(servicioPyME)" *ngIf="isLoggedIn"
            type="button"
            [class]="cambioDeBoton(servicioPyME).class">{{ cambioDeBoton(servicioPyME).text }}</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            src="/assets/image/tarjeta_premium_pyme1.jpg"
            class="card-img-top"
            alt="Reunion directorio"
          />
          <div class="card-body">
            <h5 class="card-title text-center h3">{{ servicioPremiumPyME.nombreServicio }}</h5>
            <ul class="card-text-start">
              <li>{{ servicioPremiumPyME.detalle }}</li>
              <li>4 usuarios</li>
              <li>Libro de sueldo digital</li>
              <li>Conceptos personalizables</li>
              <li>Automatizacion de novedades</li>
              <li>Recibo digital</li>
              <li>Formularios AFIP</li>
              <!--<li>Formularios AFIP</li>-->
            </ul>
            <button  (click)="agregarAlCarrito(servicioPremiumPyME)"
            type="button" *ngIf="isLoggedIn"
            [class]="cambioDeBoton(servicioPremiumPyME).class">{{ cambioDeBoton(servicioPremiumPyME).text }}</button>
          </div>

          <div class="card-body">
            <h5 class="card-title text-center h3">Desarrollo a medida</h5>
            <ul class="card-text-start">
              <li>100 legajos</li>
              <li>4 usuarios</li>
              <li>Libro de sueldo digital</li>
              <li>Conceptos personalizables</li>
              <li>Automatizacion de novedades</li>
              <li>Recibo digital</li>
              <li>Formularios AFIP</li>
              <!--<li>Formularios AFIP</li>-->
            </ul>
            <button  (click)="agregarAlCarrito(PremiumPyME)"
            type="button" *ngIf="isLoggedIn"
            [class]="cambioDeBoton(PremiumPyME).class">{{ cambioDeBoton(PremiumPyME).text }}</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</div>

<div
  class="modal fade modal-xl"
  id="serviceModal"
  tabindex="-1"
  aria-labelledby="serviceModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <app-add-to-cart></app-add-to-cart>
    </div>
  </div>
</div>
<!-- Token Input Modal -->
<div class="modal fade" id="tokenModal" tabindex="-1" aria-labelledby="tokenModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tokenModalLabel">Ingresar código</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="tokenForm" (ngSubmit)="submitToken()">
          <div class="mb-3">
            <label for="tokenInput" class="form-label">Código de producto</label>
            <input type="text" id="tokenInput" formControlName="token" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</div>
<section id="features">
  <div class="container">
    <div class="row gx-5 align-items-center">
      <!-- Columna izquierda -->
      <!--<div class="col-lg-6">-->
        <!--<div class="container-fluid">-->          
            <div class="col-md-6 mb-5">
              <div class="text-center">
                <i class="bi-phone icon-feature text-gradient d-block mb-3"></i>
                <h3 class="titulos">Soluciones Empresariales </h3>
                <h3 class="titulos_2">Ingresa a la nueva era de Gestión Empresarial</h3>
               
                
              </div>
            </div>
            <!--</div>-->
        <!--</div>->
      </div>
      <!-- Columna derecha -->
      <div class="col-lg-5">
        <div class="text-center">
          <img
          class="img-dashboard"
          src="../../../assets/image/app-store.jpeg"
          alt="dashboard-img"/>
          
        
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid">
  <!--<div class="container-fluid">-->


  <img class="img-aplicaciones" src="../../../assets/image/aplicaciones-android.jpeg" alt="Logo">

</div>

</section>



