

<section class="row">

  <h2>Empleados</h2>
  <div>
    <button type="button" class="btn btn-primary">Nuevo Empleado</button>
  </div>
  <div class="col">
    <table class="table table">
      <thead>
      <tr>
        <th>Avatar</th>
        <th>Nombre Completo</th>
        <th>Email</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let empleado of empleados" (click)="editarCliente(empleado.id)" >
        <td>{{empleado.id}}</td>
        <td>
          <img [src]="empleado.avatar" >
        </td>
        <td>{{empleado.nombre}}</td>
        <td>{{empleado.email}}</td>
        <!-- <td><button (click)="delete(empleado)">x</button></td> -->

      </tr>
    </tbody>
    </table>
  </div>
</section>
