<header class="masthead">
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6">
        <!-- Mashead text and app badges-->
        <div class="mb-5 mb-lg-0 text-center text-lg-start">
          <h1 class="display-1 lh-1 mb-3">Soluciones Empresariales</h1>
          <p class="lead fw-normal text-muted mb-5">
            KillCode es un software empresarial, donde podes llevar el registro
            de todos tus empleados.
          </p>
          <!-- <div>
            <button class="btn btn-primary" type="submit">Contactanos</button>
          </div> -->
        </div>
      </div>
      <div class="col-lg-6">
        <div class="container">
          <img
            src="https://cdn.pixabay.com/photo/2020/07/08/04/12/work-5382501_1280.jpg"
            alt=""
            class="img-fluid rounded"
          />
        </div>
      </div>
    </div>
  </div>
</header>
