<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-9 col-lg-10 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h1 class="card-title text-center mb-5 fw-bold">Registro</h1>

            <form action="" [formGroup]="userRegister">
              <div class="form-floating mb-3">
                <div class="form-floating mb-3">
                  <input
                    name="Empresa"
                    type="text"
                    class="form-control"
                    id="floatingName2"
                    formControlName="companynameregister"
                    [ngClass]="{'is-invalid':companynameregister && companynameregister.invalid && companynameregister.touched} "


                    placeholder="Nombre de la Empresa"
                    required
                  />
                  <label for="floatingName2">Nombre de la empresa</label>
                </div>

                <div class="form-floating mb-3">
                  <input
                    name="E-mail"
                    type="email"
                    class="form-control"
                    id="floating2"
                    formControlName="usernameregister"
                    [ngClass]="{'is-invalid':usernameregister && usernameregister.invalid && usernameregister.touched} "

                    placeholder="name@example.com"
                    required
                  />
                  <label for="floating2">Email address</label>
                </div>
                <div class="form-floating mb-3">
                  <input
                    name="Pass"
                    type="password"
                    class="form-control"
                    id="floatingPassword2"
                    formControlName="userpasswordregister"
                    [ngClass]="{'is-invalid':userpasswordregister && userpasswordregister.invalid && userpasswordregister.touched} "

                    placeholder="Password"
                    required
                  />
                  <label for="floatingPassword2">Password</label>
                </div>

                <div class="form-floating mb-3">
                  <input
                    name="RePass"
                    type="password"
                    class="form-control"
                    id="floatingPassword2Confirma"
                    formControlName="confirmpasswordregister"
                    [ngClass]="{'is-invalid':confirmpasswordregister && confirmpasswordregister.invalid && confirmpasswordregister.touched} "

                    placeholder="Confirma Password"
                    required
                  />
                  <label for="floatingPassword2Confirma">Confirm Password</label>
                </div>

                <div class="d-grid">
                  <button
                    class="btn btn-primary btn-login text-uppercase fw-bold"
                    type="submit"
                    [disabled]="userRegister.invalid"
                  >
                    Registrar usuario
                  </button>
                </div>
                <hr class="my-4" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
