<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-9 col-lg-10 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h1 class="card-title text-center mb-5 fw-bold">Registro</h1>

            <form action="" [formGroup]="userRegister" class="needs-validation" (ngSubmit)="save()">
            <div class="form-floating mb-3">
                <div class="form-floating mb-3 ">
                  <input
                    name="Empresa"
                    type="text"
                    class="form-control"
                    id="floatingName2"
                    [class.is-invalid]="companyNameInvalid"
                    formControlName="companynameregister"
                    placeholder="Nombre de la Empresa"
                    required
                  />
                  <label for="floatingName2">Nombre de la empresa</label>
                  <span *ngIf="companyNameInvalid" class="invalid-feedback mb-2">Nombre de empresa incorrecto</span>

                </div>

                <div class="form-floating mb-3 ">
                  <input
                    name="E-mail"
                    type="email"
                    class="form-control"
                    id="floating2"
                    formControlName="emailregister"
                    [class.is-invalid]="emailInvalid || userRegister.get('emailregister')?.errors?.['duplicateEmail']"
                    placeholder="name@example.com"
                    required
                  />
                  <label for="floating2">Direccion de Email</label>
                  <span *ngIf="emailInvalid" class="invalid-feedback mb-2">Email incorrecto</span>
                  <span *ngIf="userRegister.get('emailregister')?.errors?.['duplicateEmail']" class="invalid-feedback mb-2">El correo electrónico ya está registrado</span>
                </div>

                <div class="form-floating mb-3 ">
                  <input
                    name="Pass"
                    type="password"
                    class="form-control"
                    id="floatingPassword2"
                    formControlName="userpasswordregister"
                    [class.is-invalid]="userPasswordInvalid"
                    placeholder="Password"
                    minlength="8"
                    required
                  />
                  <label for="floatingPassword2">Contraseña</label>
                  <span *ngIf="userPasswordInvalid" class="invalid-feedback mb-2">Contraseña incorrecta</span>

                </div>

                <div class="form-floating mb-3 ">
                  <input
                    name="RePass"
                    type="password"
                    class="form-control"
                    id="floatingPassword2Confirma"
                    formControlName="confirmpasswordregister"
                    [class.is-invalid]="confirmPasswordInvalid"
                    minlength="8"
                    placeholder="Confirma Password"
                    required
                  />
                  <label for="floatingPassword2Confirma">Confirmar Contraseña</label>
                  <span *ngIf="confirmPasswordInvalid" class="invalid-feedback mb-2">Las contraseñas no coinciden</span>

                </div>

                <div class="d-grid">
                  <button
                    class="btn btn-primary btn-login text-uppercase fw-bold"
                    type="submit"
                    [disabled]="userRegister.invalid"
                  >
                    Registrar usuario
                  </button>
                </div>

                <div *ngIf="registerSucces" class="mt-2 succes">{{registerSucces}}</div>
                <div *ngIf="registerFailed" class="mt-2 alert alert-danger">{{registerFailed}}</div>
                <hr class="my-4" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
