
  <footer class="text-center py-5">
    <div class="container px-5">
      <div class="small">
        <ul class="nav justify-content-center pb-3 mb-0 linea">
          <li class="nav-item">
            <a routerLink="" class="nav-link px-2 ">Inicio</a>
          </li>
          <li class="nav-item">
            <a routerLink="/terminos" class="nav-link px-2">Terminos y Condiciones</a>
          </li>
          <li class="nav-item">
            <a routerLink="/ayuda" class="nav-link px-2">Ayuda</a>
          </li>
          <li class="nav-item">
            <a routerLink="/privacidad" class="nav-link px-2">Privacidad</a>
          </li>
        </ul>
        <hr class="linea mt-0">
        <div class="d-flex justify-content-center flex-wrap">
          <p class="text-center fs-4">
            <img src="assets\image\derechos-de-autor grey.png"class="copy"  alt=""> 2022 KillCode
            <a target="_blank" href="https://github.com/KillCode-ISPC-2024/E-COMMERCE-ISPC-KILL-CODE-FORK">
            <img src="assets\image\github-grey.png" alt="" class="logo-github">
            </a>
          </p>
          
        </div>
      </div>
    </div>
  </footer>
