html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#page {
  position: relative;
  min-height: 100%;
}

#background {
  background: rgba(0, 0, 0, 0.7) url('../../assets/office-people.png') no-repeat center center fixed;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
}

.disabled {
  display: none;
}

.logo {
  padding-top: 150px;
  width: 30%;
  height: 30%;
}

.title {
  font-weight: lighter;
  color: whitesmoke;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 100px;
}

.subtitle {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

h1,
.h1 {
  font-size: 100px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 150px;
}

.text-size {
  font-size: 18px;
}

.center {
  justify-self: center;
}

.eye-icon {
  width: 25px;
  height: 25px;
  align-self: center;
  margin-left: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  justify-content: space-evenly;
  padding-bottom: 50px;
}

.form-label.text {
  font-weight: 500;
}

.link-danger {
  font-size: 15px;
}

.contact-rrhh {
  white-space: pre-wrap;
  width: 330px;
  font-size: 15px;
}

.no-padding {
  padding: 0 !important;
}

footer {
  width: 100%;
  height: 100px;
  background-color: rgb(13, 23, 52);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer-text {
  color: white;
  font-size: 15px;
  margin: 0;
}

.back-to-login {
  text-align: center;
  padding-bottom: 30px;
}

@media (max-width: 500px) {
  .content {
    width: 300px;
    margin: auto;
  }

  .logo {
    width: 50%;
    height: 50%;
  }
}