<section id="features">
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-8 order-lg-1 mb-5 mb-lg-0">
        <div class="container-fluid px-5">
          <div class="row gx-5">
            <div class="col-md-6 mb-5">
              <!-- Feature item-->
              <div class="text-center">
                <i class="bi-phone icon-feature text-gradient d-block mb-3"></i>
                <h3 class="font-alt">Gestion de Empleados</h3>
                <p class="text-muted mb-0">
                  Mantén una visión general de todos tus empleados
                </p>
              </div>
            </div>
            <div class="col-md-6 mb-5">
              <!-- Feature item-->
              <div class="text-center">
                <i
                  class="bi-camera icon-feature text-gradient d-block mb-3"
                ></i>
                <h3 class="font-alt">Firma digital de documentos</h3>
                <p class="text-muted mb-0">
                  Conserva los documentos de tus empleados conforme a la ley de
                  proteccion de datos actual. Máxima seguridad y control sobre
                  el tratamiento de la información.
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-5 mb-md-0">
              <!-- Feature item-->
              <div class="text-center">
                <i class="bi-gift icon-feature text-gradient d-block mb-3"></i>
                <h3 class="font-alt">Optimiza la Comunicacion</h3>
                <p class="text-muted mb-0">
                  Manten a todos tus empleados informados, asignando tareas y
                  compartiendo archivos.
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <!-- Feature item-->
              <div class="text-center">
                <i
                  class="bi-patch-check icon-feature text-gradient d-block mb-3"
                ></i>
                <h3 class="font-alt">Evaluación de despempeño</h3>
                <p class="text-muted mb-0">
                  Analiza el rendimiento de cada empleado de forma periódica y
                  objetiva, además de establecer objetivos medibles para
                  impulsar su desarrollo y crecimiento.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 order-lg-0">
        <img
          class="img-fluid rounded"
          src="../../../assets/image/gestor-proyectos.jpg"
          alt="dashboard-img"
        />
      </div>
    </div>
  </div>
</section>
<!-- Basic features section-->
<section class="bg-light">
  <div class="container px-5">
    <div
      class="row gx-5 align-items-center justify-content-center justify-content-lg-between"
    >
      <div class="col-12 col-lg-5">
        <h2 class="display-4 lh-1 mb-4">
          Ingresa a la nueva era de Gestion Empresarial
        </h2>
        <p class="lead fw-normal text-muted mb-5 mb-lg-0">
          Gestion de empleados en tiempo real, seguimiento de metricas
          individuales y globales de la empresa. Envio de recibos de sueldos
          digitales. Permite consultar disponibilidad, crear horarios y
          comunicarte con tu personal.
        </p>
      </div>
      <div class="col-sm-8 col-md-6">
        <div class="px-5 px-sm-0">
          <img
            class="img-fluid rounded"
            src="../../../assets/image/dashboard-mg.png"
            alt="dashboard-img"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action section-->
<section class="cta">
  <div class="cta-content">
    <div class="container px-5">
      <h2 class="text-white display-1 lh-1 mb-4">
        Deja de Esperar
        <br />
        Empieza a Gestionar
      </h2>
      <a class="btn btn-outline-light py-3 px-4 rounded-pill" href="#" target=""
        >Contactanos</a
      >
    </div>
  </div>
</section>
<!-- App badge section-->
