<div class="container">
  <h1 class="py-5">Configure su recibo del sueldo</h1>
  <form name="formulario" method="get">
    <div class="row">
      <div class="column">
        <label for="id_recibo">ID Recibo</label>
        <input type="number" id="id_recibo" placeholder="ID Recibo" />
      </div>
      <div class="column">
        <label for="montoBruto">Monto Bruto</label>
        <input type="number" id="montoBruto" placeholder="Monto Bruto" step="0.01" />
      </div>
    </div>
    <div class="row">
      <div class="column">
        <label for="montoNeto">Monto Neto</label>
        <input type="number" id="montoNeto" placeholder="Monto Neto" step="0.01" />
      </div>
      <div class="column">
        <label for="periodo">Periodo</label>
        <input type="date" id="periodo" placeholder="Periodo" />
      </div>
    </div>
    <div class="row">
      <div class="column">
        <label for="antiguedad">Antigüedad</label>
        <input type="number" id="antiguedad" placeholder="Antigüedad" />
      </div>
      <div class="column">
        <label for="concepto">Concepto</label>
        <input type="text" id="concepto" placeholder="Concepto" />
      </div>
    </div>
    <div class="row">
      <div class="column">
        <label for="asistencia">Asistencia</label>
        <input type="number" id="asistencia" placeholder="Asistencia" step="0.01" />
      </div>
      <div class="column">
        <label for="fecha_pago">Fecha de pago</label>
        <input type="date" id="fecha_pago" placeholder="Fecha de pago" />
      </div>
    </div>
    <div class="row">
      <div class="column">
        <label for="deduccion">Deducción</label>
        <input type="number" placeholder="deducción" id="deduccion">
      </div>
      <div class="column">
        <label for="extra">Extra</label>
        <input type="number" placeholder="extra"  id="extra">
      </div>
    </div>
    <div class="row">
      <div class="column">
        <label for="legajo_empleado">Legajo del empleado</label>
        <input type="number" id="legajo_empleado" placeholder="Legajo del empleado" />
      </div>
    </div>
    <div class="container-button">
      <input type="submit" id="btn" value="Crear el recibo del sueldo" />
      <input type="reset" value="Restablecer el recibo del sueldo" />
    </div>
  </form>
</div>

