<header class="masthead" id="home">
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 col-sm-12">
        <!-- Mashead text and app badges-->
        <div class="mb-5 mb-lg-0 text-center text-lg-start">
          <h1 class="display-4 lh-1 mb-3">Soluciones Empresariales</h1>
          <p class="leads  mb-5">
            Diseñamos software a medida, incluyendo aplicaciones personalizadas para Android, para impulsar el crecimiento y la eficiencia de tu negocio, mejorando la experiencia de tus usuarios y ampliando tu alcance, sin importar cuán específicas sean tus necesidades.
          </p>
        </div>        
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="container">
          <img
            src="https://cdn.pixabay.com/photo/2020/07/08/04/12/work-5382501_1280.jpg"
            alt=""
            class="img-fluid rounded"
          />
        </div>
      </div>
      
      <div class="col-lg-6 col-sm-12">
        <div class="container">
          <img
            src="assets\image\we-code-your-dream.jpg"
            alt=""
            class="img-fluid rounded none"
          />
        </div>
      </div>
      <div class="col-lg-6 col-sm-12">
        <!-- Mashead text and app badges-->
        <div class="mb-5 mb-lg-0 text-center ">
          
          <p class="lead  mb-5">
            ¿Tienes una idea innovadora pero necesitas el software adecuado para hacerla realidad? <br> Estamos aquí para convertir tu visión en una poderosa herramienta digital.
          </p>
        </div>        
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="container">
          <img
            src="assets\image\we-code-your-dream.jpg"
            alt=""
            class="img-fluid rounded mobile"
          />
        </div>
      </div>
    </div>
  </div>
</header>
