<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/styles-pruebas.css">
  <title>Header</title>
</head>

<body>
  <header id="navbar" class="header">
    <section class="container">
      <div class="logo">
        <a href="home.html"><img class="icon" src="../assets/killcode-icon.png" alt="killcode icon"></a>
      </div>
      <button class="menu-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M4 6H20V8H4zM4 11H20V13H4zM4 16H20V18H4z" />
        </svg>
        <svg class="none" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path
            d="M16.192 6.344L11.949 10.586 7.707 6.344 6.293 7.758 10.535 12 6.293 16.242 7.707 17.656 11.949 13.414 16.192 17.656 17.606 16.242 13.364 12 17.606 7.758z" />
        </svg>
      </button>
      <nav class="menu">
        <a href="./index.html">Inicio</a>
        <a href="./perfil.html">Perfil</a>
        <a href="./ConfiguraciónDeSueldo.html">Recibo de Sueldo</a>
        <a href="./Soluciones.html">Soluciones</a>
        <a href="./help.html">Ayuda</a>
        <a href="#notificacions" style="padding-right: 16px;"><img class="alarm" src="../assets/alarm.png"></a>
      </nav>
    </section>
  </header>

  <script src="../js/menu/menu.js"></script>
</body>

</html>