<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/profile/styles.css">
  <link rel="stylesheet" href="../css/help.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <title>Recibo de Sueldo</title>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

</head>

<body>

  <div id="header"></div>

  <div class="title">
    <h1 class="ND-titulo h1">Ayuda</h1>s
  </div>
  <div class="acordeon">
    <div class="bloque">
      <h2 class="titulo">¿Comó dar disconformidad de un recibo?</h2>
      <p class="contenido"><span class="body"> Con el botón de disconformidad podrá acceder a un submenú donde
          deberá
          colocar en qué parte de su liquidación está disconforme, la empresa tendrá 72 horas para responder su
          solicitud de disconformidad y llegar a la solución de la misma.
        </span></p>
    </div>
    <div class="bloque">
      <h2 class="titulo">¿Con quién de RRHH puedo hablar?</h2>
      <p class="contenido"><span class="body"> Se puede comunicar con el encargado de RRHH que está de turno,
          directamente al número de la empresa 0800-555-(nombre de la empresa Empresa), o directamente a través de
          correo electrónico de la misma en la sección de RRHH, con una demora de respuesta de 24 hs. .</span></p>
    </div>
    <div class="bloque">
      <h2 class="titulo">¿Donde puedo ver mi RTM bruto?</h2>
      <p class="contenido"><span class="body"> El RTM bruto puede verse en la sección de su recibo de sueldo, además
          podrá descargar el historial completo de todos sus recibos de sueldo.
        </span></p>
    </div>
    <div class="bloque">
      <h2 class="titulo">¿Me corresponde pagar impuesto a las ganancias?</h2>
      <p class="contenido"><span class="body"> El impuesto a las ganancias se calcula tomando el menor de los dos
          valores entre el último sueldo y el sueldo promedio y se establece cuál es la base imponible a partir del
          cual se calcula el impuesto y se empiezana aplicar las demás deducciones que ayudan a asalariadas y
          asalariados alcanzados por el impuesto a liquidar gastos.
          Hay algunas deducciones que son habituales y se hacen a personas que por ejemplo, tienen hijos a cargo o
          están casadas. La clave es prestar atención al salario bruto y al promedio de salarios brutos que se
          cobran
          en el año. Hay tres tipos de deducciones establecidas por la AFIP: las obligatorias (jubilación, obra
          social
          y PAMI), las personales (cónyuge, hijas e hijos, familiares a cargo)y las permitidas. .
        </span></p>
    </div>
    <div class="bloque">
      <h2 class="titulo">¿Entre que fechas van a estar contactándose para hablar de mi disconformidad?</h2>
      <p class="contenido"><span class="body"> La empresa tiene un período de respuesta de 3 días hábiles a partir
          de
          que el personal presente su disconformidad, pudiendose comunicar a través de los canales habituales,
          teléfono, mail o directamente en su puesto de trabajo.
        </span></p>
    </div>
    <div class="bloque">
      <h2 class="titulo">¿Debo hacer algo más luego de dar por conforme mi recibo de sueldo?</h2>
      <p class="contenido"><span class="body"> Una vez que usted da conforme al recibo de sueldo, quiere decir que
          usted aprueba la liquidación para ese mes de su recibo de sueldo, aún así tiene 24 horas para expresar su
          disconformidad si la hubiese, pasado ese tiempo ya se da por aceptado su liquidación sin tener derecho a
          un
          reclamo.
        </span></p>
    </div>
    <div class="bloque">
      <h2 class="titulo">No veo mi recibo de sueldo</h2>
      <p class="contenido"><span class="body"> Si no ves tu recibo de sueldo es porque aún la empresa no realizó la
          liquidación, recordá que la empresa tiene hasta 5 días hábiles para cargar tu recibo de sueldo, pasado esa
          fecha, si aún no ves tu recibo comunicate con el área de RRHH de la empresa (ver pregunta ¿Con quién de
          RRHH
          puedo hablar?), con eso se comunicará a través de los canales oficiales de la empresa.
        </span></p>
    </div>
    <div class="bloque">
      <h2 class="titulo">¿Cuánto tiempo tengo para dar conforme o disconforme el recibo de sueldo?</h2>
      <p class="contenido"><span class="body"> Una vez que reciba la notificación de la carga de su recibo de
          sueldo,
          el personal contará con 2 días hábiles para dar conforme o disconforme su recibo de sueldo, pasado ese
          tiempo se dará por conforme el recibo de sueldo del mes en curso.
        </span></p>
    </div>
  </div>
  </section>

  <div id="footer"></div>

  <script type="text/javascript" src="../js/Js-acor.js"></script>
  <script src="../js/profile/controller.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
  <script src="../js/header-footer/header-footer.js"></script>

</body>

</html>