<!DOCTYPE html>
<html lang="ES-es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="../css/styles.css">

</head>

<body>
  <h1>Sitio web del grupo 'KillCode'</h1>

  <div class="link">Link del mapa de sitio:
    <a target="_blank" href="https://app.moqups.com/6yRhOEI6QyUNyJRdekFVyL1BGcsiEF23/view/page/aa9df7b72">Acá</a>
  </div>

  <div>
    <a href="politica-privacidad.html">Política y privacidad</a>
  </div>

  <div>
    <a href="perfil.html">Perfil</a>
  </div>
  <div>
    <a href="promociones.html">Promociones</a>
  </div>
  <div>
    <a href="ConfiguraciónDeSueldo.html">Configurador de recibo de sueldo</a>
  </div>
</body>

</html>