<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/styles-pruebas.css">
  <title>Recibo de Sueldo</title>
</head>

<body>
  <div id="header"></div>
  <section class="">
    <div class="title-container">
      <div class="sub-title">
        <h2>Legal</h2>
      </div>
      <div class="title">
        <h1>Política y Privacidad</h1>
      </div>
    </div>
  </section>

  <section class="">
    <div class="section-container">
      <div class="article-container">
        <article class="">
          <p>Revisada el 10 de Octubre de 2022</p>

          <p>Esta Política de Privacidad (Política) se aplica a toda la información colectada por KillCode y sus
            afiliadas y subsidiarias, (“KillCode”). La propuesta de esta Política es proporcionarle a usted
            información sobre la colecta, uso, mantenimiento y divulgación de sus informaciones colectadas por
            KillCode.</p>

          <p>KillCode cuenta con un delegado de protección de datos cuya labor es garantizar el respeto a su
            privacidad, actuar como canal de comunicación para resolver dudas sobre la presente política y posibilitar
            el ejercicio de los derechos de los titulares previstos en la ley.</p>

          <p>Para ponerse en contacto con la persona a cargo, contáctenos a través del correo electrónico
            privacy@killcode.com.</p>

        </article>
        <article>
          <div>
            <h2>Tipos de infrmacion que colectamos</h2>
          </div>
          <p>KillCode coleta sus datos directamente, para ayudar a ofrecerle la mejor experiencia con nuestros
            servicios y productos. KillCode colectará sus informaciones de tres formas: 1) mediante los sitios web
            operados por KillCode, 2) por el uso de nuestros servicios, y 3) de información que usted nos
            proporciona.</p>
        </article>
        <article>
          <div>
            <h2>Sitios web operados por KillCode</h2>
          </div>
          <p>En conexión con la visita de cualquier sitio web de propiedad de KillCode, KillCode podrá usar
            servicios de terceros para colecta y almacenar información.</p>
        </article>
        <article>
          <div>
            <h2>Su uso de nuestros servicios</h2>
          </div>
          <p>Cuando use o interactúa con los servicios o productos de KillCode, podrá colectar información sobre sus
            interacciones, los servicios que usa y cómo los usa. La información colectada pueden incluir: información
            del dispositivo, información de localización, identificación de aplicaciones exclusivas, cookies y
            tecnología similar.</p>
        </article>
        <article>
          <div>
            <h2>Información que usted nos proporciona</h2>
          </div>
          <li>Clientes de KillCode: Algunos servicios de KillCode pueden pedir que se inscriba a una cuenta.
            Cuando se
            inscriba en la cuenta, podremos pedir información personal como su nombre, dirección de email, nombre e
            información de
            su empresa.</li>
          <li>Clientes de los clientes de KillCode: Algunos datos requeridos por nuestros Clientes mediante el uso
            de nuestros
            servicios (esto es, formularios) son informaciones personales identificables, que pueden incluir, no
            limitándose a, su
            nombre, dirección, número de teléfono, dirección de email, nombre e información de su empresa. Estas
            informaciones serán
            incluidas por usted como respuesta a las solicitudes al usar los sitios de nuestros clientes.</li>
        </article>
        <article>
          <div>
            <h2>Tipos de Información NO Coletada</h2>
          </div>
          <p>Las siguientes informaciones personales no podrán ser colectadas por medio del uso de nuestros servicios y
            usted no deberá proporcionar información relacionada a la información financiera, así como, pero no
            limitándose a, números de cuenta bancaria y tarjetas de crédito, número de identidad, número de
            pasaporte, entre otros, información con datos sensibles en los términos de la LGPD (Ley General de
            Protección de Datos).</p>
        </article>
        <article>
          <div>
            <h2>Información que podemos colocar en su ordenador</h2>
          </div>
          <p>El software KillCode podrá almacenar algunas informaciones en su computador. Esto se dará por medio de
            “Cookies” o
            archivos similares y nos ayudará a nosotros a nuestros clientes en varias formas. Las cookies son elementos
            de datos que
            un sitio web de datos puede enviar a su navegador, que luego podrá colocar la cookie en su disco duro. Si
            una Cookie
            está almacenada en el disco duro de su computador, la próxima vez que nos visite, el mismo sitio web podrá
            reconocerlo.
            Por ejemplo, las Cookies son usadas para entender mejor sus intereses y preferencias. En la mayoría de los
            navegadores
            de Internet, usted puede borrar las Cookies del disco duro de su computador, bloquear todas las cookies o
            recibir un
            aviso antes de la Cookie ser almacenada.</p>
          <p>Por favor, consulte las instrucciones de su navegador para entender mejor sobre esas funciones. Observe que
            ciertas
            funcionalidades del sitio web pueden no funcionar si las Cookies son bloqueadas. Para más información sobre
            Cookies, por
            favor, lea nuestra Política de Cookies.</p>
        </article>
        <article>
          <div>
            <h2>Direccions de IP</h2>
          </div>
          <p>KillCode graba automáticamente ciertas informaciones, que pueden incluir sus solicitudes en la
            Internet, su
            interacción con un servicio, el Protocolo de Internet (UP) del computador del cual usted está entrando al
            sitio web, el
            tipo de navegador, el idioma de su navegador y la fecha y horario de su solicitud.</p>
        </article>
        <article>
          <div>
            <h2>Opción de Exclusión</h2>
          </div>
          <p>Si no quiere que su información personal sea colectada, entonces no deberá usar nuestro sitio web o del
            cliente o
            cualquier herramienta ofrecida por cualquiera de los dos y optar por excluir sus informaciones personales.
            Deberá entrar
            en contacto
            directamente con clientes para acordar formas alternativas para proporcionarles la información aplicable.
          </p>
        </article>
        <article>
          <div>
            <h2>Responsabilidad para la transferencia posterior</h2>
          </div>
          <div>
            <h3>Terceros</h3>
          </div>
          <p>KillCode podrá usar agentes para ofrecer los servicios a su nombre. Podremos compartir con esos agentes
            la
            información incluída por usted solamente a esos terceros que presten servicios a KillCode. Esos terceros
            están
            vinculados por obligaciones de confidencialidad y están sujetos a sanciones, incluyendo la cancelación y
            responsabilidad
            criminal, en caso no se cumplan esas obligaciones.
          </p>
          <div>
            <h3>Seguridad</h3>
            <p>KillCode expide esfuerzos para garantizar la seguridad y privacidad de los datos, invluyendo
              metodologías de
              software y hardwares. Eso incluye revisiones internas de la colecta, transmisión, almacenamiento y
              prácticas de
              procesamiento de datos, así como codificación y medidas físicas de protección para evitar acceso no
              autorizado a los
              sitemas donde almacenamos las informaciones que colectamos.</p>
          </div>
        </article>
        <article>
          <div>
            <h2>Integridad de los Datos y Propósito</h2>
          </div>
          <p>A menos que se mencione expresamente a continuación, no vendemos, negociamos o alquilamos sus informaciones
            personales
            colectadas en el sitio web para otros. Cuando usted nos entregue su información personal identificable,
            usaremos los
            siguientes términos:
          </p>
          <li>Nuestros clientes tendrán acceso a las informaciones personales identificables colectadas por sus sitios
            web de acuerdo
            con la política de privacidad de ellos.</li>
          <li>Nuestros proveedores de servicio, si fuera el caso, tendrán acceso a las informaciones que colectamos para
            ayudarnos a
            ofrecer nuestros servicios a nuestros clientes.</li>
          <li>Podremos divulgar la información a terceros cuando tengamos razón para creer que la divulgación de esta
            información es
            necesaria para identificar, contactar o realizar cualquier acción legal contra alguien que esté causando
            daños o
            interfiriendo en los derechos o propiedad (sea intencional o intencionalmente) de KillCode, nuestros
            clientes o
            cualquier usuario de nuestro sitio web o de los sitios web de los clientes.</li>
          <li>Divulgaremos la información en respuesta a cualquier solicitud de órganos regulatorios o autoridad.</li>
          <li>Podremos divulgar la información a terceros cuando creamos de buena fe que la ley lo exige (así como
            respondiendo a una
            intimación o mandato judicial).</li>
          <li>Podemos utilizar sus datos para campañas de marketing, marketing por correo electrónico y para calificar
            para Ventas, lo
            que incluye contactarlo por correo electrónico o teléfono.</li>
          <li>Al completar nuestros formularios en el sitio web, acepta proporcionarnos información y recibir contenido
            promocional y
            educativo relacionado con los productos y servicios de KillCode.</li>
          <li>Podemos utilizar sus datos con fines de contratación, envío de puestos de trabajo vacantes y oportunidades
            de trabajo
            independiente.</li>
          <p>KillCode y nuestros clientes pueden usar “datos agregados” no personales para mejorar la operación de
            nuestro
            software, de los sitios web de nuestros clientes, o para analizar interés en el área o eficacia de estos
            sitios web.
            KillCode ofrece a sus clientes mecanismos para garantizar que la información personal identificable es
            relevante,
            correcta y completa para el uso previsto.
          </p>
        </article>
        <article>
          <div>
            <h2>Acceso</h2>
          </div>
          <p>Mediante solicitud escrita y consetimiento de nuestro cliente, KillCode hará todo lo posible para
            permitir que usted
            corrija, altere o elimine su información personal que se demuestre incorrecta o incompleta. Tenga en cuenta
            que debemos
            contar con el permiso de nuestros clientes antes de que cualquier modificación sea hecha.
          </p>
        </article>
        <article>
          <div>
            <h2>Ejecución y responsabilidad</h2>
          </div>
          <p>KillCode realizará auditorías periodicas en lo que se refiere a las obligaciones y cumplimiento de
            esta Política.
            Cualquier incumplimiento de esta Política estará sujeto a la acción disciplinar, incluyendo resición del
            contrato de
            trabajo.</p>
        </article>
        <article>
          <div>
            <h2>Resolución de Conflictos</h2>
          </div>
          <p>Cualquier duda y/o quejas sobre sus informaciones, deberá enviarse directamente al propietario del sitio
            web. En caso su
            duda o queja esté relacionada al uso que KillCode le da a su información personal, podrá entrar en
            contacto con
            nosotros mediante la dirección:</p>
          <p>KillCode LTDA<br>
            Atención: Departamento Jurídico<br>
            Rua Paraiba,330, 22o andar, Funcionários<br>
            CEP: 30130-917, Belo Horizonte, Minas Gerais.</p>
          <p>KillCode responderá dentro de 3 (tres) días a partir de la fecha de recepción de la notificación o en
            el momento
            establecido por la ley local. KillCode cooperará con las autoridades de protección de datos aplicables,
            en caso
            hayan quejas que no puedan ser resueltas.</p>
          <p>En algunas circunstancias, podrá ser necesario utilizar el Poder Judicial.</p>
        </article>
        <article>
          <div>
            <h2>Aviso Legal</h2>
          </div>
          <p>KillCode es un proveedor de SaaS (Sotfware as a System) y no controla ni es responsable, de ninguna
            forma, de los
            usos que nuestros clientes hagan con las informaciones personales que usted les proporciona.</p>
        </article>
        <article>
          <div>
            <h2>Cambios en la Política de Privacidad</h2>
          </div>
          <p>KillCode se reserva el derecho de modificar su política de privacidad a cualquier momento y le
            notificará
            incluyendo un aditivo a la Política de Privacidad en nuestro sito web. Esas alteraciones se tornarán
            vigentes el día
            de su publicación. KillCode le anima a revisar constantemente la Política de Privacidad.</p>
        </article>

      </div>


    </div>
  </section>

  <div id="footer"></div>



  <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <script src="../js/header-footer/header-footer.js"></script>
</body>

</html>