<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Presupuestos</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="../css/presupuestos.css">
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>

<body>
  <div id="header"></div>

  <section id="nuestrosPresupuestos">
    <h2>
      <h2>Nuestras ofertas</h2>
    </h2>
    <div class="container">

      <div class="img-container"></div>
      <p>Conozca nuestras ofertas para su empresa.
        Independientemente del tamaño de su empresa, tenemos una
        opción para satisfacer sus necesidades.
      </p>
    </div>
  </section>

  <section id="opcionesPresupuestos">
    <div class="container">
      <div class="opcion">
        <h3>Micro Empresas</h3>
        <p>Paquete pensado para empresas con no más de 10 empleados. En esta opcion tienen lo indispensable
          para su negocio</p>
        <div><button>+ Info</button></div>
      </div>
      <div class="opcion">
        <h3>Pequeñas Empresas</h3>
        <p>Paquete pensado para empresa con no más de 50 empleados. Su negocio esta en constante crecimiento,
          tenemos lo que necesita.</p>
          <div><button>+ Info</button></div>
      </div>
      <div class="opcion">
        <h3>Medianas Empresas</h3>
        <p>Paquete pensado para empresas de no más de 250 empleados. Necesita agilizar una parte administrativa,
          nosotros tenemos la solución</p>
          <div><button>+ Info</button></div>
      </div>
      <div class="opcion">
        <h3>Grandes Empresas</h3>
        <p>Paquete pensado para empresas con más de 250 empleados. Ya consolidados, nosotros podemos facilitar
          aun más las cosas.
          <div><button>+ Info</button></div>
      </div>
    </div>
  </section>

  <div id="footer"></div>

  <script src="../js/header-footer/header-footer.js"></script>

</body>

</html>