<!DOCTYPE html>
<html lang="en">

<head>

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/profile/styles.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Recibo de Sueldo</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <style>
      details {
        background: #ecf7f5;
        padding: 10px;
        margin: 10px;
        border-radius: 6px;
        cursor: pointer;
        font-size: 18px;
      }

      .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 108px;
      }
    </style>





  </head>

<body>
  <div id="header"></div>

  <body>
    <div class="title">
      <h1 class="h1">Promociones</h1>
    </div>

    <details>
      <summary>Beneficios por convenio con el banco acreedor </summary><br />
      <p>10% de ahorro en Digital House. 25% de ahorro y cuotas sin interés en electrodomesticos Fravega. Todos los
        Viernes 10% de ahorro en YPF. 6 Cuotas sin interes en Hoteleria El Valle.</p>
    </details>

    <details>
      <summary>Beneficios que me corresponden según mi rol</summary> <br />
      <p> Entre 20% y 40% en bazar Las Piedritas. Tickets de descuento en Supermercado Dia. 2x1 en Teatro Rex. Lunes y
        jueves 10% de ahorro en Axion.
      </p>
    </details>

    <details>
      <summary>Beneficios por ser interno de la empresa</summary><br />
      <p> 15% en Spa Luna Nueva. Hasta 12 cuotas sin interes en locales de indumentaria y calzado adheridos. 50% de
        ahorro en empresa de transporte para dirigirse a la empresa. Primer mes gratis en gimnasios La Cuesta. </p>
    </details>

    <details>
      <summary>Beneficios por convenio con otras empresas</summary><br />
      <p>15% de ahorro en farmacias adheridas. Cupones de descuento en capacitaciones dictadas por otra empresa.
        Miercoles 40% de ahorro en cine Hoyts. </p>
    </details>


    <em>
      <p> Los beneficios no son acumulables ni combinables con otra promoción.</p>
    </em>


    <div id="footer"></div>

    <script src="../js/header-footer/header-footer.js"></script>

  </body>

</html>