<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/styles-pruebas.css">
  <title>Términos y Condiciones</title>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>

<body>
  <div id="header"></div>

  <section class="">
    <div class="title-container">
      <div class="title">
        <h1>Términos y Condiciones</h1>
      </div>
      <div class="sub-title">
        <h2>Términos de uso para los sitios de KillCode</h2>
      </div>
    </div>
  </section>

  <section class="">
    <div class="section-container">
      <div class="article-container">
        <article class="">
          <p>Al ingresar al Sitio web oficial de KillCode estás
            aceptando los siguientes Términos y Condiciones:</p>

        </article>
        <article>
          <div>
            <h2>Responsabilidad</h2>
          </div>
          <p>KillCode no se responsabiliza por daños y pérdidas que
            surjan en relación con las consultas o visitas realizadas al Sitio Web.</p>
          <p>KillCode no puede garantizar que la transmisión de información por parte de los usuarios sea
            completamente segura. El usuario asume este riesgo.</p>
          <li>No intentar acceder a datos restringidos o a intentar violar las barreras de seguridad para llegar a ellos
          </li>
          <li>No realizar búsquedas de vulnerabilidades o explotación de las mismas para cualquier fin</li>
          <li>No divulgar información acerca de la detección de vulnerabilidades encontradas en el sitio</li>
          <li>Enviar información de vulnerabilidades detectadas en el sitio a <a href="">soportekillcode@gmail.com</a>
          </li>
          <p>El usuario acepta las <a href="politica-privacidad.html">políticas de privacidad.</a> </p>

        </article>
        <article class="">
          <div>
            <h2>Propiedad Intelectual</h2>
          </div>
          <p>Las marcas, avisos, nombres comerciales, frases de propaganda, dibujos, diseños, logotipos, textos, etc.
            que aparecen en el Sitio Web son propiedad de KillCode, excepto cuando se aclare. KillCode licencia todos
            sus contenidos
            bajo la licencia Creative Commons Atribución 2.5 Argentina.</p>
        </article>
        <article class="">
          <div>
            <h2>Modificación de términos y vigencia</h2>
          </div>
          <p>El GCBA puede alterar las condiciones de estos términos en cualquier momento, comprometiéndose a anunciarlo
            por medio de
            un aviso en el mismo sitio web.</p>
        </article>
        <article class="">
          <div>
            <h2>Enlaces con sitios, productos y servicios de terceros</h2>
          </div>
          <p>El Sitio Web puede contener enlaces hacia otros sitios, productos y servicios los que son propiedad y
            operados por
            terceros. KillCode advierte que no administra ni controla estos sitios
            y no será
            responsable de sus contenidos ni de cualquier daño o perjuicio causado por tales contenidos, productos o
            servicios
            disponibles en dichos otros sitios.</p>
        </article>

      </div>
  </section>


  <div id="footer"></div>

  <script src="../js/header-footer/header-footer.js"></script>
</body>

</html>